.zero,.first,.second,html{
    background-color: silver;
}
.card-body{
    background-color: silver;
}

.first{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
.second{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
.predislovie{
    position: relative;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-left:580px;
}
.card-1{
    outline: 2px solid #000; /* Чёрная рамка */
    
}